<div class="container-fluid-lg p-1 text-white border" style="background-color: rgb(23, 146, 120);">
    <div class="row text-center">
        <div class="col-md-3">
            <p class="mt-2">Pune, India</p>
        </div>
        <div class="col-md-6">
            <marquee behavior="" direction="up" scrollamount="1">Welcome to Fastkart! Wrap new offers/gift every single
                day on Weekends! New Coupon Code : xy123ABC</marquee>
        </div>
        <div class="col-md-3">
            <nav class="nav">
                <a class="nav-link text-white" aria-current="page" href="#">English</a>
                <span class="p-2">|</span>
                <a class="nav-link text-white" href="#">USD</a>
            </nav>
        </div>
    </div>
</div>

<div class="container-lg">
    <div class="row">
        <div class="col-md-3">
            <p id="fastkart">
                <span style="color: rgb(23, 146, 120); font-weight: 700; font-size: xx-large;">Fast</span><span style="font-weight: 700; font-size: xx-large;">kart</span><span style="color: rgb(23, 146, 120); font-weight: 700; font-size: xx-large;">.</span></p>
        </div>

        <div class="col-md-6 d-flex">
            <div class="col-md-4">
                <div class="input-group mb-3 pt-2">
                    <button class="btn btn-outline-secondary" style="background-color: rgb(217, 217, 217); color: rgb(255, 0, 0);" type="button" id="button-addon1">
                        <i class="bi bi-geo-alt-fill"></i>
                    </button>
                    <input type="text" class="form-control" placeholder="Your Location" aria-label="Example text with button addon"
                        aria-describedby="button-addon1">
                </div>
            </div>
            <div class="col-md-8 ms-2">
                <div class="input-group mb-3 pt-2">
                    <input type="text" class="form-control" placeholder="I'm searching for..."
                        aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" style="background-color: rgb(255, 123, 0); color: white;" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: right; ">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <i class="bi bi-telephone"></i>
                            </li>
                            <span class="ms-2 p-1">|</span>
                            <li class="nav-item ms-2">
                                <i class="bi bi-suit-heart"></i>
                            </li>
                            <span class="ms-2 p-1">|</span>
                            <li class="nav-item">
                                <i class="bi bi-cart ms-2"></i>
                            </li>
                            <span class="ms-2 p-1">|</span>
                            <li class="nav-item">
                                <i class="bi bi-person ms-2"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>