#fastkart{
    cursor: pointer;
    background-color: white;
    // border: 1px solid black;
}

.navbar-nav li{
    font-size: x-large;
}

.navbar-nav .bi-telephone:hover{
    color: green;
    cursor: pointer;
}

.navbar-nav .bi-suit-heart:hover{
    color: rgb(255, 0, 179);
    cursor: pointer;
}
.navbar-nav .bi-cart:hover{
    color: blue;
    cursor: pointer;
}
.navbar-nav .bi-person:hover{
    color: rgb(252, 126, 9);
    cursor: pointer;
}

.list-group{
    display: none;
}

.nav-item:hover .list-group{
    display: block;
}

.list-group li{
    font-size: small;
    cursor: pointer;
    font-weight: 500;
}


// .btn{
// --bs-btn-line-height: 0.5px;
// }



.menu1[data-bs-popper]{

    left: 147px;
    background-color: rgb(70, 236, 200);
}

.menu2[data-bs-popper]{

    left: -84px;
    background-color: rgb(70, 236, 200);
}

#person-btn{
--bs-btn-padding-y: 0.rem;
}

.profile-menu a{
font-size: medium;
cursor: pointer;
}

.profile-name .head{
font-size: medium;
font-weight: 500;
cursor: pointer;
color: red;
}