#fastkart{
    cursor: pointer;
}

.navbar-nav li{
    font-size: x-large;
}

.navbar-nav .bi-telephone:hover{
    color: green;
    cursor: pointer;
}

.navbar-nav .bi-suit-heart:hover{
    color: rgb(255, 0, 179);
    cursor: pointer;
}
.navbar-nav .bi-cart:hover{
    color: blue;
    cursor: pointer;
}
.navbar-nav .bi-person:hover{
    color: rgb(252, 126, 9);
    cursor: pointer;
}