.list-group{
    display: none;
}

.nav-item:hover .list-group{
    display: block;
}

.nav-item .nav-link {
    font-weight: 500;
}
.nav-item #nav1 {
    font-weight: 500;
}
.nav-item #nav3 {
    font-weight: 500;
}

.nav-item #nav1{
    background-color: rgb(23, 146, 120);
    color: white;
}

.nav-item #nav3{
    background-color: rgba(23, 146, 119, 0.205);
    color: rgb(23, 146, 120);
}

.list-group{
    cursor: pointer;
}
