<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h3 class="text-center mt-4"><u>Best Sellers</u></h3>
    </div>
    <div class="col-md-2 mt-4">
      <button type="button" class="btn btn-success btn-sm" routerLink="/products-by-categories">Show More</button>
    </div>
  </div>
</div>
<div class="container mt-2">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let item of Producttopdeals;let i=index">
      <ng-template carouselSlide [id]="'i'">
        <div class="card" style="width: 13rem;">
          <img [src]="item.p_img_url" class="card-img-top p-3" alt="...">
          <div class="card-body">
            <h5 class="card-title fs-6 text-center">{{item.llc_n}}</h5>
            <div class="dropdown text-center">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{item.w}} - {{item.sp}} Rs
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" *ngFor="let qty of item.all_prods" (click)="set(i,qty)">{{qty.w}}-{{qty.sp}}</a></li>
              </ul>
            </div>
            <p class="mt-2 text-center"><span class="fs-12">MRP&nbsp;</span><span class="fs-12 text-decoration-line-through">Rs&nbsp;{{item.dis_val}}&nbsp;</span><span>Rs&nbsp;{{item.sp}}</span></p>
            <p class="mt-0 text-center"><label class="fs-12">Qty</label><input type="text" class="mx-1 w-25 qty text-center" name="quntity{{i}}" [(ngModel)]="item.quantity"><button type="button" class="mx-2 px-3 cart" (click)="addtocart(item)">ADD<i class="bi bi-bag ps-2"></i></button></p>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>