<div class="container mt-2" style="justify-content: space-between;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="animate-charcter">Best Sellers</h3>
            </div>
        </div>
    </div>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of topDealsList; let i = index">
            <ng-template carouselSlide [id]="'i'">
                <div class="card" style="width: 13rem; border-color: rgb(23, 146, 120); background-color: rgba(74, 146, 23, 0.19);">
                    <img [src]="item.p_img_url" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: 500; font-size: small;">{{item.llc_n}}</h5>

                        <div class="mb-1">
                            <div class="dropdown-center">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="background-color: rgb(23, 146, 120); border-color: rgb(23, 146, 120);">
                                    {{item.w}} - ₹{{item.sp}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li *ngFor="let qty of item.all_prods" (click)="setTotalPrice(i,qty)"><a class="dropdown-item" style="cursor: pointer; font-size: small;">{{qty.w}} - ₹{{qty.sp}}</a></li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <p><span style="font-size: small;">MRP </span> <del
                                    style="color: grey;"><i>₹{{item.dis_val}}</i></del> &nbsp; <b>₹{{item.sp}}</b></p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group-sm mb-3 d-flex">
                                    <span class="input-group-text" id="basic-addon1">Qty</span>
                                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn btn-success btn-sm"
                                    style="background-color: rgb(255, 226, 6); border-color:rgb(255, 226, 6); color: black;">ADD
                                    &nbsp;<i class="bi bi-basket"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <div class="text-end">
        <button type="button" class="btn btn-sm text-white" routerLink="/products-by-category" style="background-color: rgb(55, 9, 207);">SHOW MORE</button>
    </div>
</div>
